/* Modern CSS Reset by Josh Como https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CSS Variables */

:root {
  --orange: rgb(251, 116, 19);
  --white: rgb(255, 255, 255);
  --light-grey: rgb(149, 158, 172);
  --dark-blue: rgb(37, 45, 55);
  --very-dark-blue: #121417;
}

body {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--very-dark-blue);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(37, 45, 55, 0.8);
  padding: 2rem;
  border-radius: 30px;
  height: 425px;
  width: 400px;
}

.icon-container {
  width: fit-content;
  background: rgb(149, 158, 172, 0.1);
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 2rem;
}

.star-icon {
  height: 15px;
  width: 15px;
}

.heading {
  color: var(--white);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.intro-text {
  font-size: 0.9rem;
  color: var(--light-grey);
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Ratings Form Styles */

.ratings > fieldset {
  display: flex;
  flex: 1;
  margin-bottom: 2rem;
  justify-content: space-between;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

/* Hide the default radio button */
.radio {
  display: none;
}

.label {
  color: var(--light-grey);
  font-weight: 700;
  background: rgba(149, 158, 172, 0.1);
  border-radius: 50%;
  padding: 25px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.label:hover {
  cursor: pointer;
  background: var(--orange);
  color: var(--very-dark-blue);
}

#rating-1:checked ~ .label-1,
#rating-2:checked ~ .label-2,
#rating-3:checked ~ .label-3,
#rating-4:checked ~ .label-4,
#rating-5:checked ~ .label-5 {
  background-color: var(--white);
  color: var(--very-dark-blue);
}

.submit-btn {
  background-color: var(--orange);
  color: var(--very-dark-blue);
  text-transform: uppercase;
  border: 0;
  border-radius: 25px;
  padding: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--very-dark-blue);
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  color: var(--light-grey);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Thankyou Styles */

#thankyou-content {
  display: none;
}

.thankyou-container {
  gap: 25px;
}

.thankyou-img {
  align-self: center;
}

.thankyou-heading {
  color: var(--white);
  font-size: 1.75rem;
}

.rating-confirmation {
  color: var(--orange);
  background-color: var(--dark-blue);
  width: fit-content;
  align-self: center;
  padding: 10px 15px;
  border-radius: 25px;
}

.thankyou-para {
  color: var(--light-grey);
  font-size: 0.9rem;
}

.thankyou-heading,
.rating-confirmation,
.thankyou-para {
  text-align: center;
}

/* CSS for smartphones */
@media (max-width: 767px) {
  .container {
    height: 400px;
    width: 375px;
  }
}
